:root{
    --white-icon-color: invert(96%) sepia(86%) saturate(6133%) hue-rotate(185deg) brightness(127%) contrast(100%);
}

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes dropdown {
    from {
        transform: translateY(-220px);
    }
    to {
        transform: translateY(0px);
    }
    
}

@keyframes dropdownReverse {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-220px);
    }
}

@keyframes logoBackgroundColor {
    from{
        background-color: white;
    }
    to{
        background-color: orange;
    }
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
}

.top-menuBar {
    font-family: 'TAEBAEKmilkyway';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(36, 45, 77);
    padding: 0 30px;
    color: #ffff;
}
.mobile-menu,
.menu-icon{
    display:none;
}

.main-logo {
    width: 240px;
    padding: 16px 16px 8px;
    background-color: #ffff;
    border-radius: 0 0 20px 20px;
    margin-bottom: 16px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list {
    display: flex;
    flex-direction: row ;
    align-items: end;
    justify-content:center;
    gap: 2rem;
    & > li:hover {
        cursor: pointer;
        color: rgb(43 120 131);
        transition-duration: 0.3s;
    }
}

.menu li {
    background-color: rgb(36, 45, 77);
    padding: 0.6rem;
    font-size: 1.2rem;
    font-weight: 500;
}


.tell-number {
    font-family: 'TmonMonsori';
    font-size: 2rem;
    text-decoration: none;
    color: #ffff;
}

.warp {
    margin-top: 91px;
    font-family: 'TAEBAEKmilkyway';
    font-weight: 900;
    
}

.slide-wrap {
    width: 100%;
    height: calc(100vh - 91px);
    overflow: hidden;
    user-select: none;
}

.slide-list {
    width: 100%;
    height: 100%;
    display: flex;
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    
    flex-shrink: 0;

    background-size: cover;
    background-position: center center;
    
}

.slide-pagination {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slide-pagination > li {
    color: gray;
    cursor: pointer;
    font-size: 5rem;
}

.slide-pagination > li.active {
    color: black;
}

.slide-topImg{
    background-color: rgba(241, 241, 241, 0.6);
    border-radius: 50px 50px 50px 50px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    & > img {
        width: 50rem;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > img {
        width: 80rem;
    }
    & a > img {
        width: 50rem;
    }
}

.content-list li {
    
    padding: 100px 100px 0;
    

    & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > img {
            margin-top: 50px;
            width: 80rem;
        }
    }

    & > h2 {
        width: 350px;
        font-size: 30px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid rgb(76, 98, 120);

        & > img {
            width: 150px;
        }

        & > span {
            margin-left: 20px;
        }
    }
}

.logo-tell {
    width: 40rem;
    cursor: pointer;
    padding: 20px 30px 30px;
    border-radius: 50px 50px 50px 50px;
    margin-top: 50px;
    animation: logoBackgroundColor 1.3s infinite;
    box-shadow: 3px 3px 6px 2px #8a8c91;
}

.logoTell-detail{
    margin-top: 20px;
    font-size: 1.5rem;
    color: gray;
}

.top-icon{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: rgb(76, 98, 120);
    border-radius: 50%;
    box-shadow: 5px 5px 20px -8px #000;
    cursor: pointer;
}

footer{
    background-color: rgb(86, 94, 126);
    color: white;
    text-align: center;
    overflow: hidden;
    padding: 50px;

    & > img {
        width: 200px;
    }
}

footer dl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.copyright-produce{
    margin-top: 20px;

    & > li {
        font-size: 0.8rem;
    }

    & > li:nth-child(2){
        margin-top: 20px;
        font-size: 0.8rem;
        color: gray;
    }
    
}

.contact-form {
    width: 514px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;

    & > h1 {
        margin-bottom: 1rem;
        font-size: 2rem;
        margin: 0 auto;
        padding: 0 0 1rem;
    }
}

.contact-form span {
    color: red;
    font-weight: bold;
}

.contact-form input[type=number],
.contact-form #consultation,
.contact-form #privacy{
    width: 480px;
    margin: 1rem 0;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px #dadce0 inset;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    resize: vertical;
    outline: none;
}

.contact-form button {
    width: 10rem;
    margin: 0 auto;
}

#contact {
    height: 2rem;
}

#consultation {
    height: 10rem;
}

#privacy {
    height: 6rem;
    overflow: scroll;
    word-break: break-all;
    -ms-overflow-style: none;

    & > p {
        width: 100%;
        height: 100%;
        font-size: small;
    }
}

#privacy::-webkit-scrollbar {
    display: none;
}

.checkBox-privacy{
    display: flex;
    align-items: center;
    vertical-align: bottom;
    gap: 3px;
    font-size: 0.8rem;
    margin-bottom: 3rem;
    user-select: none;
}




@media screen and (max-width:768px){

    .top-menuBar{
        padding: 5px;
    }

    .main-logo{
        width: 150px;
        padding: 5px 5px 3px;
        margin-bottom: 5px;
        border-radius: 0 0 7px 7px;
    }

    .menu-list{
        gap: 0.6rem;
        display: none;
    }

    .menu-icon{
        display: inline;
        filter: var(--white-icon-color);
        width: 30px;
        cursor: pointer;
    }

    .mobile-menu{
        display: inline-block;
        width: 100%;
        background-color: white;
        padding: 30px;
        position: absolute;
        transform: translateY(-220px);
        z-index: -1;
        animation: 1s forwards;
    }

    .drop{
        animation: dropdown 1s forwards;
    }

    .reverse{
        animation: dropdownReverse 1s forwards;
    }

    .mobileMenuList{
        font-family: 'TAEBAEKmilkyway';
        font-weight: 900;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1rem;

        & > li {
            cursor: pointer;
        }
    }

    .main-content {
        & > img, 
        li > img, 
        a > img {
            width: 23rem;
        }
    }

    .content-list li {
        text-align: center;
        padding: 70px 0 0;

        & > div img {
            width: 25rem;
        }
    }

    .content-list li h2{
        width: 11rem;
        font-size: 1rem;

        & > img {
            width: 5rem;
        }
    }

    .logo-tell{
        width: 1rem;
    }

    .slide-topImg{
        & > img {
            width: 18rem;
        }
        & a > img{
            width: 13rem;
        }
    }

    .top-icon{
        bottom: 10px;
        right: 10px;
    }

    .warp{
        margin-top: 60px;
    }

    .slide-wrap{
        width: 100%;
        height: calc(100vh - 60px);
        overflow: hidden;
        user-select: none;
    }

    .tell-number{
        font-size: 1.5rem;
    }
    
    .logoTell-detail{
        font-size: 0.7rem;
        margin-top: 10px;
    }
}

