:root{
    --white-icon-color: invert(96%) sepia(86%) saturate(6133%) hue-rotate(185deg) brightness(127%) contrast(100%);
}

@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes dropdown {
    from {
        transform: translateY(-260px);
    }
    to {
        transform: translateY(0px);
    }
    
}

@keyframes dropdownReverse {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-260px);
    }
}

.drop{
    animation: dropdown 1s forwards;
}

.reverse{
    animation: dropdownReverse 1s forwards;
}

@keyframes logoBackgroundColor {
    from{
        background-color: white;
    }
    to{
        background-color: orange;
    }
}

/* header */
header{
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
}

.top-menuBar {
    font-family: 'TAEBAEKmilkyway';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#242d4d;
    padding: 0 30px;
    color: #ffff;
}

.mobile-menu,
.menu-icon{
    display:none;
}

.main-logo {
    width: 240px;
    padding: 16px 16px 8px;
    background-color: #ffff;
    border-radius: 0 0 20px 20px;
    margin-bottom: 16px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list {
    display: flex;
    flex-direction: row ;
    align-items: end;
    justify-content:center;
    gap: 2rem;
    & > li:hover {
        cursor: pointer;
        color: #2b7883;
        transition-duration: 0.3s;
    }
}

.menu li {
    background-color: rgb(36, 45, 77);
    padding: 0.6rem;
    font-size: 1.2rem;
    font-weight: 500;
}


.tell-number {
    font-family: 'TmonMonsori';
    font-size: 2rem;
    text-decoration: none;
    color: #ffff;
}

#top-icon{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: rgb(76, 98, 120);
    border-radius: 50%;
    box-shadow: 5px 5px 20px -8px #000;
    background-color: #ffff;
    cursor: pointer;
}
/* header */


/* main */
.warp {
    /* margin: 0 auto; */
    margin-top: 91px;
    font-family: 'TAEBAEKmilkyway';
    font-weight: 900;
}

.slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: calc(100vh - 91px);
    user-select: none;
}

.image-box {
    width: 400%;
    display: flex;
    flex-wrap: nowrap;
    transform: translateX(-25%);
}

.image-box img {
    width: 100vw;
    height: calc(100vh - 91px);
}

.slider img {
    pointer-events: none;
}

/* .slide-wrap {
    width: 100%;
    height: calc(100vh - 91px);
    overflow: hidden;
    user-select: none;
}

.slide-list {
    width: 100%;
    height: 100%;
    display: flex;
} */

/* .slide-content {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    
    flex-shrink: 0;

    background-size: cover;
    background-position: center center;
    
}

.slide-pagination {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slide-pagination > li {
    color: gray;
    cursor: pointer;
    font-size: 5rem;
}

.slide-pagination > li.active {
    color: black;
} */

.slide-topImg{
    background-color: rgba(241, 241, 241, 0.6);
    border-radius: 50px 50px 50px 50px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.slide-topImg img{
    width: 800px;
}

.slide-topImg a img{
    width: 400px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content img {
    width: 1440px;
}

.main-content article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    pointer-events: none;
    user-select: none;
}

.main-content article h2 {
    width: 500px;
    font-size: 1.5rem;
    margin: 50px 0;
    padding: 10px;

    text-align: center;

    border: 5px solid #4d685f;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 3px 3px 6px 2px #8a8c91;

    & > span {
        vertical-align: 12px;
        margin-left: 30px;
    }
}

.main-content article h2 img {
    width: 130px;
}

#banner-cover{
    background-color: orange;
    border-radius: 50px 50px 50px 50px;
    padding: 30px;
    margin: 50px 0 20px;
    animation: logoBackgroundColor 1.3s infinite;
    box-shadow: 3px 3px 6px 2px #8a8c91;
}

#logo-tell {
    width: 700px;
    cursor: pointer;
}

.logoTell-detail{   
    margin-bottom: 10px;
    color: gray;
}

footer {
    background-color: rgb(86, 94, 126);
    color: white;

    overflow: hidden;
    padding: 50px;

    text-align: center;
}

footer img {
    width: 200px;
}

footer dl {
    line-height: 1.5;
    gap: 5px;
    margin-top: 20px;
}

.copyright-produce {
    margin-top: 10px;
}

.copyright-produce small {
    font-size: 13px;
}

#makeSite-contact{
    line-height: 3;
    color: gray;
}
/*
.contact-form {
    width: 514px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;

    & > h1 {
        margin-bottom: 1rem;
        font-size: 2rem;
        margin: 0 auto;
        padding: 0 0 1rem;
    }
}

.contact-form span {
    color: red;
    font-weight: bold;
}

.contact-form input[type=number],
.contact-form #consultation,
.contact-form #privacy{
    width: 480px;
    margin: 1rem 0;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px #dadce0 inset;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    resize: vertical;
    outline: none;
}

.contact-form button {
    width: 10rem;
    margin: 0 auto;
}

#contact {
    height: 2rem;
}

#consultation {
    height: 10rem;
}

#privacy {
    height: 6rem;
    overflow: scroll;
    word-break: break-all;
    -ms-overflow-style: none;

    & > p {
        width: 100%;
        height: 100%;
        font-size: small;
    }
}

#privacy::-webkit-scrollbar {
    display: none;
}

.checkBox-privacy{
    display: flex;
    align-items: center;
    vertical-align: bottom;
    gap: 3px;
    font-size: 0.8rem;
    margin-bottom: 3rem;
    user-select: none;
}

*/


@media screen and (max-width:480px){

    /* header */
    .top-menuBar{
        padding: 0 15px;
    }

    .menu-list{
        display: none;
    }

    .main-logo{
        width: 150px;
        padding: 7px 7px 5px;
        border-radius: 0 0 10px 10px;
    }

    .menu-icon{
        display: inline;
        filter: var(--white-icon-color);
        width: 40px;
        cursor: pointer;
    }

    .tell-number{
        font-size: 25px;
    }

    .warp{
        margin-top: 65px;
    }

    .mobile-menu{
        display: inline-block;
        width: 100%;
        background-color: white;
        padding: 30px;
        position: absolute;
        transform: translateY(-260px);
        z-index: -1;
    }

    .mobileMenuList{
        font-family: 'TAEBAEKmilkyway';
        font-weight: 900;
        line-height: 2.5;
    }

    .mobileMenuList li{
        cursor: pointer;
    }
    /* header */

    /* main */
    .slide-topImg img{
        width: 300px;
    }

    .slide-topImg a img{
        width: 150px;
    }

    .main-content img{
        width: 400px;
    }

    #logo-tell{
        width: 300px;
    }

    .logoTell-detail{
        font-size: 8px;
    }

    .main-content article h2{
        width: 250px;
        font-size: 1.2rem;

        & > span{
            vertical-align: 9px;
            margin-left: 3px;
        }
    }

    .main-content article h2 img{
        width: 80px;
    }

    #top-icon{
        bottom: 10px;
        right: 10px;
    }
}

@media screen and (max-width:420px){
    /* header */
    .main-logo{
        width: 130px;
    }

    .tell-number{
        font-size: 25px;
    }

    .menu-icon{
        width: 30px;
    }

    .warp{
        margin-top: 55px;
    }
    /* header */

    /* main */
    .slide-topImg img{
        width: 250px;
    }

    .slide-topImg a img{
        width: 150px;
    }

    .main-content img{
        width: 350px;
    }

    #logo-tell{
        width: 230px;
    }
    /* main */

    /* footer */
    footer{
        font-size: 10px;
    }

    .copyright-produce small{
        font-size: 5px;
    }
}